@mixin disable-selection() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin animate-property($prop, $speed) {
  -webkit-transition: $prop $speed ease-in-out;
  -ms-transition: $prop $speed ease-in-out;
  transition: $prop $speed ease-in-out;
}

@mixin color-button($color){
  color: $color;

  &:hover {
    color: darken($color, 3);
  }

  &:active {
    color: darken($color, 10);
  }
}

@mixin bg-color-button($bg-color, $color: white) {
  background-color: $bg-color;
  border: 1px solid $bg-color;
  color: $color;

  &:hover {
    border: 1px darken($bg-color, 10);
    background-color: darken($bg-color, 3);
  }

  &:active {
    border: 1px solid darken($bg-color, 10);
    background-color: darken($bg-color, 10);
  }
}